import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import StandardScaler, MinMaxScaler 
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder
from scipy.stats import norm
from scipy import stats
from scipy.stats import shapiro
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA